h1{
    color: #070322; background-color: rgb(224, 212, 212); font-style: italic; opacity: 0.7; text-align:right; line-height: 100px;
word-spacing: 20px; letter-spacing: 10px;}
#page{
    text-align: center; 
    }
    #book{
text-transform: capitalize; text-decoration: underline;text-decoration: line-through;
    }
    #english::first-letter{color:blue; font-size: 50px;

    }